@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

body {
  background-color: #00171f;
  color: #ffffff;
}
#main {
  display: block;
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 80vh;
  margin: 0;
  padding: 0;
}

#todo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
  color: #003459;
  width: 80%;
  font-size: 18px;
  font-weight: 400;
}
#item-card {
  width: 50%;
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  font-size: 18px;
}
#form-component {
  background-color: #ffffff;
  color: #003459;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100%;
  margin: 0;
}
#todo-pagination {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 90%;
}

.bp4-button.bp4-intent-warning {
  background: #003459;
  color: white;
  font-weight: 500;
  font-size: 18px;
}


.bp4-button:not([class*=bp4-intent-]) {
  font-weight: 400;
  font-size: 16px;
  color: gray;
}

.bp4-card {
  background-color: #edf6f9;
}

small {
  font-size: 18px;
}

#form-component #form,
form {
  height: 100%;
}
#form-card {
  width: 100%;
  height: 100%;
  margin-left: 30px;
  background-color: #003459;
  color: #ffffff;
}
#site-header,
h2 {
  text-align: center;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.displaySettings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#paginate ul {
  background-color: #00171f;
  padding: 9px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: #222831;
  margin: 12px  ;
}
#paginate ul li a {
  background-color: #00171f;
  color: white;
  margin: 0;
  padding: 0;
}
